services:
  kasm:
    image: lscr.io/linuxserver/kasm:{{ kasm_version }}
    container_name: kasm
    privileged: true
    environment:
      - KASM_PORT=443
    volumes:
      - "{{ kasm_data }}:/opt"
      - "{{ kasm_profiles }}:/profiles"
    ports:
{% for p in kasm_ports %}
      - "{{ p }}"
{% endfor %}
    restart: unless-stopped
