### Localisation
d-i debian-installer/locale string en_US
d-i console-setup/ask_detect boolean false
d-i console-setup/layoutcode string us
d-i keyboard-configuration/xkb-keymap select us
d-i keyboard-configuration/layout string USA


### Réseau
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string debian
d-i netcfg/get_domain string localdomain
### Miroir Debian
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
### Compte root
d-i passwd/root-login boolean false
### Compte utilisateur ansible
d-i passwd/user-fullname string ansible
d-i passwd/username string ansible
d-i passwd/user-password password ansible
d-i passwd/user-password-again password ansible
d-i user-setup/allow-password-weak boolean true
### Fuseau horaire
d-i time/zone string UTC
d-i clock-setup/utc boolean true
d-i clock-setup/ntp boolean true
# Choix du disque à utiliser pour le partitionnement automatique
d-i partman-auto/disk string /dev/sda
# Méthode de partitionnement : LVM
d-i partman-auto/method string lvm
# Accepter la suppression des volumes logiques existants
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
# Suppression des RAID si présents
d-i partman-md/device_remove_md boolean true
# Choix de la recette : atomic = une seule partition /
d-i partman-auto/choose_recipe select atomic
# Accepter d'écrire la table de partitions
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/confirm_write_new_label boolean true
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
# Installation du chargeur d’amorçage GRUB
d-i grub-installer/bootdev string /dev/sda
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true

### Installation minimale + SSH + sudo
tasksel tasksel/first multiselect standard
d-i pkgsel/include string openssh-server sudo
d-i pkgsel/upgrade select none
### Ne pas poser de questions
d-i debconf/priority string critical
d-i finish-install/reboot_in_progress note
### Autoriser login root en SSH (utile en debug, à désactiver si prod)
d-i preseed/late_command string \
    in-target apt-get update; \
    in-target apt-get install -y openssh-server sudo; \
    in-target systemctl enable ssh; \
    in-target systemctl restart ssh; \
    in-target adduser ansible sudo;